<h1>Hello <%= @user.name %>!</h1>
<%= link_to 'Destroy', destroy_user_session_path, method: :delete %> 

<%= @user.email %>
<div class='clear'></div>
<% @posts.each do |post| %>
<div class="post">
	<h3><%= post.user.name %></h3>
	<h2><%= post.text %></h2>
	<div class="song">
		<ul>
			<li><h4>ARTIST: <%= post.song.artist %></h4><li>
				<li><h4>TRACK: <%= post.song.title %></h4><li>
				</ul>
				<h1 class="italics">"<%= post.lyric %>"</h1>
				<img class="album" src="<%= post.song.photo %>" alt="Album Cover">
			</div>
			<div class="comments">
				<p><%= post.comments.first.user.name if post.comments.first %> commented :  <%= post.comments.first.comment if post.comments.first %></p>
				<%= link_to 'Comment', new_comment_path(post), method: :get %> 
			</div>
		</div>
		<% end %>


