<h1>Feel My Lyrics</h1>

<table class="table">
	<thead>
		<tr>
			<th>User</th>
			<th>Post</th>
			<th>Lyrics</th>
			<th>Song</th>
			<th>Artist</th>
		</tr>
	</thead>
	<tbody>
		
		<tr><% @posts.each do |p| %>
			<td><%= p.user.name %></td>
			<td><%= p.text %></td>
			<td><%= p.lyric %></td>
			<td><%= p.song.title %></td>
			<td><%= p.song.artist %></td>
			<td><%= p.comments.comment %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<%= link_to 'Destroy', destroy_user_session_path, method: :delete %> 