<h2>Lyrical Blogosphere</h2>
<div class='clear'></div>
		<% @posts.each do |p| %>
			<div class="post">
				<h3><%= p.user.name %></h3>
				<%= button_to "Delete Post", {controller: "posts", action: 'destroy', id: p.id}, method: :delete, :class => "delete", data: { confirm: "Are you sure?" }  %>
				<h2><%= p.text %></h2>
			<% unless p.song == nil %>
			<div class="song">
				<ul>
					<%= button_to "Delete Song", {controller: "songs", action: 'destroy', id: p.song.id}, method: :delete, :class => "delete", data: { confirm: "Are you sure?" } %>
					<li><h4>TRACK: <%= p.song.title %></h4></li>
					<li><h4>ARTIST: <%= p.song.artist %></h4><li>
					</ul>
					<h1 class="italics">"<%= p.lyric %>"</h1>
					<img class="album" src="<%= p.song.photo %>" alt="Album Cover">
					<% end %>
				</div>
			<div class="comments">
				<p><%= p.comments.first.user.name if p.comments.first %> commented :  <%= p.comments.first.comment if p.comments.first %></p>
				<%= link_to 'Comment', new_comment_path(p), method: :get %> 
			</div>
	<% if @user %>
			<div class= "new_comment">
				<form action="/posts/<%=p.id%>/comments/new" method="post">
					<textarea name="comment" id="comment" cols="79" rows="2"></textarea>
					<input type="submit">
				</form>
			</div>
		<% end %>
	</div>
<% end %>