<h1>SHOWING YOUR POST AND LYRICS</h1>
<div>
<h1><%= @user.name %></h1>
<%= @user.email %>
<%= @artist %>
<%= @title %>
<%= @track_id %>
<%= @lyrics %>
<%= @song.title %>
<%= @song.artist %>
<%= @song.verse %>
<%= @post.text %>
<%= @post.lyric %>

<div>
