<!DOCTYPE html>
<html lang="end">
<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1">
	<title>Feel My Lyrics</title>
	<link href='http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


	<div class='clear'></div>
	<div class="links">
			<li>
	<% if user_signed_in? %>
	<%= link_to 'New_Post', new_post_path, method: :get %> 
	<%= link_to 'Sign_Out', destroy_user_session_path, method: :delete %> 
	<% else %>
	<%= link_to "Sign In", new_user_session_path %>
	<% end %>
</li>
</div>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
	
<div class="container">

		<div id="header-content">
			<a href="/">
				<div>
					<img src="/images/logo.jpg">
				</div>
			</a>
       		</form>
		</div><!-- End header-content -->

<div class='clear'></div>
<%= yield %>
</div>
</body>
</html>
